div
	div(class="col-lg-2")
		br
		br
		form(role="form" class="form-horizontal col-lg-12")
			div(class="form-group")
				label Nombre de Suceso: 
				br
				input(type='text' ng-model='alertName')
				br
				br
				button(type="button" class="btn btn-primary" ng-click="addAlert($event); alertName='';") Crear Suceso
		div(class="col-lg-12")
			table(class="table table-hover")
				thead
					//th Event ID
					th Nombre de Suceso
					th
				tbody
					tr(ng-if="alertsArr=={}") 
						td No alerts found.
					tr(ng-repeat="(key, alert) in alertsArr" ng-click="selectAlert(key, alert.name, $event)" ng-class="{warning: selectedRows.indexOf(key)>-1}")
						//td {{key}}
						td {{alert.name}}
						td
							span(class="glyphicon glyphicon-minus-sign" ng-click="deleteAlert(key, $event)")
	div(class="col-lg-10" ng-class="{hidden: (selectedRows.length==0)}")
		h4 {{selectedRows[1]}} &nbsp;
			small ID: {{selectedRows[0]}}

		ul.nav.nav-tabs
			li(ng-click="tabClick('map', $event)" ng-class="{active: visibleTab=='map'}") 
				a Región de Alerta
			li(ng-click="tabClick('sms', $event)" ng-class="{active: visibleTab=='sms'}") 
				a Contenido del Mensaje
			li(ng-click="tabClick('status', $event)" ng-class="{active: visibleTab=='status'}") 
				a Estado
		div(ng-class="{hidden: !(visibleTab=='map')}")
			br
			div
				div(hello-maps="" latitude="24" longitude="-102.5" class="google-alert-map" ng-click="showCoordinates($event)" zoom="10")
				div.button-overlay
					button(type="button" class="btn btn-primary" ng-click="toggleDrawing($event)" ng-class="{disabled: doneDrawingVal}") {{drawText}}
					&nbsp;
					button(type="button" class="btn btn-primary" ng-click="doneDrawing($event)" ng-class="{disabled: (polyArr.length<3)}") {{doneDrawText}}
			div(class='row')
				p(class='col-lg-4') Current Drawing mode: 
					label(ng-if="!enableDraw") Disabled 
					label(ng-if="enableDraw") Enabled 
				p(class='col-lg-4') Current Lock mode: 
					label(ng-if="!doneDrawingVal") Unlocked 
					label(ng-if="doneDrawingVal") Locked 

		div(ng-class="{hidden: !(visibleTab=='sms')}")
			br
			div.col-lg-12.sms-content
				label.col-lg-2 Por Defecto: 
				textarea.col-lg-9(ng-model="smsContent.Default")
			div.col-lg-12.sms-content
				label.col-lg-2 Español: 
				textarea.col-lg-9(ng-model="smsContent.DE")
			div.col-lg-12.sms-content
				label.col-lg-2 Inglés: 
				textarea.col-lg-9(ng-model="smsContent.EN")
			div.col-lg-12.sms-content
				label.col-lg-2 Francés: 
				textarea.col-lg-9(ng-model="smsContent.FR")
			div.col-lg-12.sms-content
				label.col-lg-2 Noruego: 
				textarea.col-lg-9(ng-model="smsContent.NO")
			div.col-lg-12.sms-content
				label.col-lg-2 Sueco: 
				textarea.col-lg-9(ng-model="smsContent.SE")

		div(ng-class="{hidden: !(visibleTab=='status')}")
			br
			div.panel-group(id="accordion" accordion-control)
				div.panel.panel-default(ng-repeat="item in statusList | reverse")
					div.panel-heading
						h4.panel-title
							a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" collapse-click="link{{$index}}")
								{{item.title}}
					div.panel-collapse.collapse.in(id="link{{$index}}")
						div.panel-body(html-text="{{$index}}")
							

		div.button-div-padding
			button(type="button" class="btn btn-success" ng-click="saveAlert($event)") Guardar Alerta
			&nbsp;
			button(type="button" class="btn btn-danger" ng-click="sendAlert($event)" ng-class="{disabled: alertSendButtonDisabled}") Enviar Alerta

	
	div(class="modal fade" id="savedMessage" aria-hidden="true" modal-show-trigger)
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-body")
					<p>{{modalMessage}}</p>
				div(class="modal-footer")
					button(type="button" class="btn btn-info" data-dismiss="modal" ng-click="showModal=false") OK


	div.modal.fade(id="savedMessage" aria-hidden="true" please-wait style="margin-top: 200px")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3(align="center") Please wait...
				div.modal-body
					div.progress.progress-striped.active
						div.progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
