.row
	form(role="form" class="form-horizontal col-lg-12")
		div(class="form-group")
			label Nombre de Operador de TV: 
			br
			input(type='text' ng-model='tvName')
			br
			label Fuente: 
			br
			input(type='text' ng-model='source' style="width: 45%")
			br
			br
			button(type="button" class="btn btn-primary" ng-click="addTv()") Añadir Operador
.row
	table(class="table table-hover")
		thead
			th Nombre de Operador de TV
			th
		tbody
			tr(ng-if="tvArr=={}") 
				td No se encontraron operadores
			tr(ng-repeat="(key, tv) in tvArr")
				//td {{key}}
				td {{tv.name}}
				td
					span(class="glyphicon glyphicon-minus-sign" ng-click="deleteTv(key)")

