include navbar
h4 Links
	ul
		li
			h5 Population Alert
				ul
					li
						a(href="/cd") Create Data
					li
						a(href="/as") Add Subscribers
					li
						a(href="/sim") Simulation
					li
						a(href="/vam") View Alert on Soft Phones
		li
			h5 Radio Alert
				ul
					li
						a(href="/dr") Define Radio Stations
		li
			h5 Group Alert
				ul
					li
						a(href="/dg") Define Groups
		li
			h5 TV Alert
				ul
					li
						a(href="/dt") Define TV Operators
