.col-md-6
	.row
		label Mensaje de Alerta: 
		br
		textarea.col-md-12(rows="5" ng-model="alert") 
	.row
		table(class="table table-hover")
			thead
				th Nombre de la Cadena de TV
				th
			tbody
				tr(ng-if="tvArr=={}") 
					td No Operators found
				tr(ng-repeat="(key, tv) in tvArr" ng-click="selectGroup(key, tv.name)")
					td {{tv.name}}
					td 
						input(type='checkbox' ng-model="selected[key]" ng-click='createTvAlertList(selected[key], key)')
	.row
		button.btn.btn-danger(ng-click='sendTVAlert()' ng-class="{disabled: (alert.trim()=='' || numOfTvs==0)}") Enviar Alerta por TV
.col-md-5.col-md-offset-1
	.row
		label Log de Alertas:
		br
		textarea(readonly adjust-scroll rows="20" ng-model="log" class="col-lg-11 log-text")