include navbar
.col-md-10.col-md-offset-1(ng-init="radioAlertSent='#{__('An alert message was sent to the following radio stations: ')}'")
	.row(style="margin-bottom: 5px")
		label #{__('Alert Message: ')}
		//Notificacion de alerta por radio: 
		br
		textarea.col-md-11(rows="5" ng-model="alert") 
	.row(style="margin-bottom: 5px")
		div(hello-maps="" latitude="24" longitude="-102.5" class="google-map" zoom="7")
	.row(style="margin-bottom: 5px")
		button.btn.btn-hs(ng-click='clearArea()' style="margin-right: 5px") #{__('Clear Area')}
		//Eliminar el Area
		button.btn.btn-hp(ng-click='sendRadioAlert()' ng-class="{disabled: (numOfCircles<1 || alert.trim()=='')}") #{__('Send Radio Alert')}
		//Enviar Alerta por Radio