include navbar
.col-md-12
	.row
		h4 {{tv.name}}
	.row
		.col-md-12(style="position: relative")
			img(src="images/tv.png" style="position: absolute" height="700px" width="1200px")
			div(style="z-index: 50; height: 60%; width: 82%; position: absolute; top: 15px; left: 65px")
				iframe(width="1100" height="550" src='{{tv.source}}')
			div(ng-class='{hidden: !showMessage}' style="z-index: 1000; height: 100%; width: 1095px; color: red; position: absolute; top: 450px; left: 65px")
				marquee(behavior="scroll" direction="left" style="background-color: red; color: white; font-size: 50px")
					| {{message}}