.col-md-12
	.row
		h4 {{tv.name}}
	.row
		.col-md-8.col-md-offset-2(style="position: relative")
			img(src="images/tv.png" style="position: absolute")
			div(style="z-index: 50; height: 60%; width: 82%; position: absolute; top: 20px; left: 53px")
				iframe(width="665" height="375" src="http://www.youtube.com/embed/NgifvMfpEw0")
			div(ng-class='{hidden: !showMessage}' style="z-index: 1000; height: 100%; width: 82%; color: red; position: absolute; top: 300px; left: 53px")
				marquee(behavior="scroll" direction="left" style="background-color: red; color: white")
					| {{message}}